<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultado Simpson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="MenuResultado">
        <h2>Resultados</h2>
        <div class="Inputs">
            <p><strong>F(a):</strong> {{ fa }}</p>
            <p><strong>F(b):</strong> {{ fb }}</p>
            <p><strong>F(c):</strong> {{ fc }}</p>
            <p><strong>Integral aproximada (I):</strong> {{ I }}</p>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <img src="{{ url_for('static', filename='grafica.png') }}" alt="Gráfica Simpson" style="max-width: 100%; border-radius: 10px;">
        </div>
    </div>
</body>
</html>
